@page "/persons"
@using BlazorFromServer.App.JavaScriptInterop
@using BlazorFromServer.App.Services
@using Core.Domain
@using Microsoft.AspNetCore.Blazor.Services

@inject IUserService PersonService
@inject IUriHelper UrlHelper

<NavLink class="nav-link" href="/">To Home</NavLink>

<h1>@WelcomeMessage</h1>


@foreach (var person in AvailablePersons)
{
    @*<PersonDetail Person="person" ref="PersonComponent"></PersonDetail>*@
    <div class="container">
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@person.Picture" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@person.Name</h5>
                        <p class="card-text">@($"{person.Email} {person.PhoneNumber}")</p>
                        @*<button class="btn btn-success" onclick="@(() => SelectUser(person))">Select</button>*@
                        
                        <button class="btn btn-success" onclick="@(() => OnSelectPerson(person))">To Detail Page</button>
                    </div>
                </div>
            </div>
        </div>
}


@if (CurrentUser != null)
{
    <div class="container">
        <div class="row">
            <label for="name">Name: </label>
            <input id="name" bind="@CurrentUser.Name" />
        </div>

    </div>
}


<button class="btn btn-primary" onclick="@LoadPersons">Load persons From server</button>
<button class="btn btn-primary" onclick="@LoadLocalPersons">Load local persons</button>
<button class="btn btn-primary" onclick="@DeleteLastPerson">Delete last persons</button>


@functions {

    string WelcomeMessage = "Welcome DotNED Saturday From Blazor!";

    User CurrentUser { get; set; }
    //{
    //    Name = "Scott Hanselman",
    //    Email = "scott@microsoft.com",
    //    PhoneNumber = "12345468",
    //    Picture = "https://avatars0.githubusercontent.com/u/2892?s=460&v=4"
    //};

    List<User> AvailablePersons = new List<User>();

    async Task LoadPersons()
    {
        await PersonService.LoadPersons();
        AvailablePersons.AddRange(PersonService.AvailablePersons);
    }

    //PersonDetail PersonComponent;

    //protected override void OnAfterRender()
    //{
    //    PersonComponent.PersonSelected += (User person) =>
    //    {
    //        Console.WriteLine("Caught event");
    //        CurrentUser = person;
    //        StateHasChanged();
    //    };
    //}

    protected override async Task OnInitAsync()
    {
        //AvailablePersons.Add(new User()
        //{
        //    Name = "Scott Hanselman",
        //    Email = "scott@microsoft.com",
        //    PhoneNumber = "12345468",
        //    Picture = "https://avatars0.githubusercontent.com/u/2892?s=460&v=4"
        //});

        //AvailablePersons.Add(new User()
        //{
        //    Name = "Scott Guthrie",
        //    Email = "scott@microsoft.com",
        //    PhoneNumber = "12345468",
        //    Picture = "https://sec.ch9.ms/ch9/e6c4/ea6aa4d2-472a-46c1-a31e-b3d86daee6c4/scottguazurewebsitesendpoints_960.jpg?v=744001bc6a23bbf8533bfb48dc1e9372cfe8dbe985ae55b3f5e950865fce9395"
        //});


        await PersonService.LoadSavedList();

        AvailablePersons = PersonService.AvailablePersons;
    }

    async Task DeleteLastPerson()
    {
        var confirmed = await JavaScriptInterop.Confirm("Are you sure?");
        Console.WriteLine(confirmed.ToString());
        if (confirmed)
        {
            await PersonService.DeleteLastPerson();
            AvailablePersons = PersonService.AvailablePersons;
        }
    }

    async Task LoadLocalPersons()
    {
        await PersonService.LoadSavedList();
        AvailablePersons = PersonService.AvailablePersons;
    }

    void OnSelectPerson(User person)
    {
        Console.WriteLine($"/personedit/{person.Id}");

        UrlHelper.NavigateTo($"/personedit/{person.Id}");
    }

}
